
.section-analytics {
  margin: 5rem 0;

  & .container {
    background-color: var(--text-color); /* use dark background */
    border-radius: 1rem;
  }

  & .grid {
    color: var(--text-color); /* use light text color */

    & .div1 {
      text-align: center;
      border-right: 0.2rem solid var(--helper-color); /* update border color if needed */

      &:last-child {
        border: none;
      }
      & h2 {
        font-size: 4.8rem;
      }
      & p {
        text-transform: capitalize;
      }
    }
  }
}




.section-analytics {
  margin: 4rem 0; /* Increase margin top and bottom */
}

.section-analytics .container {
  padding: 4rem; /* Increase padding inside container */
}

.section-analytics .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust grid columns */
  gap: 12rem; /* Add gap between grid items */
}

/* .section-analytics .div1 {
  background-color: var(--bg-color);
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  border: 0.2rem solid var(--dark-color);
} */

.section-analytics .div1:last-child {
  border-right: none; /* Remove right border for last grid item */
}

.section-analytics h2 {
  font-size: 4.8rem;
}

.section-analytics p {
  text-transform: capitalize;
}
.para , div{
  color: black;
}