.section-contact {
  margin-top: 20rem;

  .container {
    padding-top: 21rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
  }

  .grid-two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
    max-width: 1000px;
  }

  .contact-img {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .section-form {
    display: flex;
    flex-direction: column;

    .header {
      margin-bottom: 3.2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
      text-transform: capitalize;
      color: #fff; /* Added to make the labels readable against the black background */
    }

    input,
    textarea,
    button {
      padding: 2rem; /* Increased padding for larger fields */
      background-color: #282c34; /* Set background to black */
      border: 1px solid #ccc;
      font-size: 1.6rem; /* Increased font size for larger text */
      color: #fff; /* Set text color to white for readability */
      width: 100%;
    }

    textarea {
      resize: vertical;
    }

    button {
      background-color: #61dafb;
      color: #fff;
      cursor: pointer;
    }
  }
}
