/* .section-services {
  padding: 1rem 0;
  margin-top: 34rem;

  .container {
    padding: 0 2rem;
  }


  .grid-three-cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 2rem; 
    padding: 2rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 1.6rem; /
    border: 0.2rem solid var(--helper-color);
    padding: 1.6rem; 
    max-width: 100%; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
    background-color: #fff; 

    .card-img {
      text-align: center;

      img {
        width: 100%; 
        max-width: 200px; 
        height: auto;
        filter: drop-shadow(0 0 1rem #000); 
      }
    }

    .card-details {
      padding: 1.2rem 0; 

      p {
        font-size: 1.4rem;
        margin: 0.5rem 0; 
        color: #333; 
      }

      h2 {
        font-size: 2rem;
        margin: 0.5rem 0 1rem 0; 
        color: #333;
      }
    }
  }
}

.des {
  color: #333; 
} */
